{{- if and .Values.imagePullSecret.create .Values.imagePullSecret.username .Values.imagePullSecret.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.imagePullSecret.name }}
  namespace: {{ include "mahdi-website.namespace" . }}
  labels:
    {{- include "mahdi-website.labels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ printf "{\"auths\":{\"%s\":{\"username\":\"%s\",\"password\":\"%s\",\"email\":\"%s\"}}}" .Values.imagePullSecret.registry .Values.imagePullSecret.username .Values.imagePullSecret.password .Values.imagePullSecret.email | b64enc | quote }}
{{- end }}
