name: Deploy to k3s cluster

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      CF_ACCESS_CLIENT_ID: ${{ secrets.CF_ACCESS_CLIENT_ID }}
      CF_ACCESS_CLIENT_SECRET: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Normmahdize image names
        id: vars
        run: |
          OWNER="${GITHUB_REPOSITORY_OWNER,,}"
          REPO="ghcr.io/${OWNER}/mahdi-website"
          TAG="${{ github.run_number }}"

          echo "web_repository=${REPO}" >> $GITHUB_OUTPUT
          echo "web_image=${REPO}:${TAG}" >> $GITHUB_OUTPUT

          echo "tag=${TAG}" >> $GITHUB_OUTPUT

          echo "registry=ghcr.io" >> $GITHUB_OUTPUT

          echo "registry_username=${OWNER}" >> $GITHUB_OUTPUT



      - name: Build & Push image
        run: |
          docker build -t ${{ steps.vars.outputs.web_image }} .
          docker push ${{ steps.vars.outputs.web_image }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          cat << 'KUBECONFIG' > ~/.kube/config
          ${{ secrets.K8S_CONFIG }}
          KUBECONFIG

      - name: Install cloudflared and open TCP tunnel
        run: |
          wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
          sudo mv cloudflared-linux-amd64 /usr/local/bin/cloudflared
          sudo chmod +x /usr/local/bin/cloudflared

          cloudflared access tcp \
            --hostname k3s.foroughi.cloud \
            --service-token-id "$CF_ACCESS_CLIENT_ID" \
            --service-token-secret "$CF_ACCESS_CLIENT_SECRET" \
            --url 127.0.0.1:6443 &

          sleep 5

      - name: Helm deploy
        run: |
          set -e
          helm upgrade --install mahdi-website ./helm \
            --namespace mahdi-website \
            --create-namespace \
            --wait --debug \
            --set web.image.repository="${{ steps.vars.outputs.web_repository }}" \
            --set web.image.tag="${{ steps.vars.outputs.tag }}" \
            --set imagePullSecret.registry="${{ steps.vars.outputs.registry }}" \
            --set imagePullSecret.username="${{ steps.vars.outputs.registry_username }}" \
            --set imagePullSecret.password="${{ secrets.GH_TOKEN }}"

          echo "Deploy success"
